body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #E8C9B2;
    color: #222;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #e5d9cd;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.header-sep {
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: burlywood;
}

a:hover {
    color: #9d9f7b;
}

.links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #9d9f7b;
    left: 0;
    bottom: -3px;
    transition: 0.6s;
}
.links a {
    text-decoration: none;
    color: #333;
    position: relative;
}

.links a:hover::after {
    width: 100%;
}
.links a {
    padding: 8px 12px;
    border-radius: 8px;
    transition: 0.3s;
}

.links a:hover {
    background: #9d9f7b;
    color: white;
}

.links a {
    color: black;
}

main {
    max-width: 900px;
    margin: 4rem auto;
    padding: 0 1.5rem;
    text-align: center;
}

.hero-title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.highlight {
    color: #2e7d32;
}

.hero-text {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.8;
    margin-bottom: 2.5rem;
    text-align: justify;
}

.info-box {
    background: #9d9f7b;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 2rem;
    text-align: justify;
}

.map-responsive {
    position: relative;
    padding-bottom: 37.5%;
    height: 0;
    overflow: hidden;
    width: 80%;
    max-width: 800px;
}

.map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    color: #777;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    .hero-title {
        font-size: 2rem;
    }

    .hero-text {
        font-size: 1rem;
    }
}


