body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #E8C9B2;
    color: #222;
}


/* Header */
.header {
    width: 100%;
    height: 70px;
    background-color: #e5d9cd;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
}

.header-sep {
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: burlywood;
}

a:hover {
    color: #9d9f7b;
}

.links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #9d9f7b;
    left: 0;
    bottom: -3px;
    transition: 0.6s;
}

.links a {
    text-decoration: none;
    color: #333;
    position: relative;
}

.links a:hover::after {
    width: 100%;
}

.links a {
    padding: 8px 12px;
    border-radius: 8px;
    transition: 0.3s;
}

.links a:hover {
    background: #9d9f7b;
    color: white;
}

.links a {
    color: black;
}

/* Main */
main {
    max-width: 900px;
    margin: 4rem auto;
    padding: 0 1.5rem;
    text-align: center;
}

.info-box {
    background: #9d9f7b;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    font-size: 1.1rem;
    line-height: 1.7;

    text-align: justify;
}

.hero-title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.highlight {
    color: #2e7d32;
}

.hero-text {
    font-size: 1.2rem;
    color: #000;
    line-height: 1.8;
    margin-bottom: 2.5rem;
    text-align: justify;
}

.info-box {
    background: #9d9f7b;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 2rem;
    text-align: justify;
}

.map-responsive {
    position: relative;
    padding-bottom: 37.5%;
    height: 0;
    overflow: hidden;
    width: 80%;
    max-width: 800px;
}

.map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.footer {
    text-align: center;
    padding: 2rem 1rem;
    color: black;
    font-size: 0.9rem;
    height: 80px;
    background-color: #e5d9cd;
}

hr  {
    margin: auto;
    width: 45%;
    height: 5px;
    background-color: #2e7d32;
}

.footer-text {
    font-size: 20px;
}

@media (max-width: 600px) {
    .hero-title {
        font-size: 2rem;
    }

    .hero-text {
        font-size: 1rem;
    }
}

/* Csirkemell */

.mezes_mustaros {
    width: 1000px;
    height: 700px;
}

.mezes_mustar {
    margin: 120px 0px 30px 150px;
}

.mezes_mustaros_img {
    height: 290px;
    width: 300px;
}

.csirkemell {
    font-weight: bold;
    margin-left: -20px;
    margin-top: 5px;
}

.food_title {
    width: 280px;
    height: 50px;
    margin-top: 80px;
    margin-bottom: -70px;
    margin-left: 770px;
    background-color: #F9E8DA;
    border: 1px black solid;
    padding-top: 11px;
    padding-left: 15px;
}

.food_title2 {
    font-size: 20px;
}

/* Csirkemell Hozzávalók */

.hozzavalok {
    width: 300px;
    height: 335px;
    background-color: #F9DCC3;
    border: 1px black solid;
}

.hozzavalok_box {
    height: 40px;
    background-color: #F9E8DA;
    width: 200px;
    text-align: center;
    margin-left: 53px;
    margin-bottom: -10px;
    border: 1px black solid;
}

.hozzavalok_move {
    margin-left: 500px;
    margin-top: -330px;
}

.hozzavalok_text {
    font-size: 24px;
}

.hozzavalok_list {
    list-style-type: "-";
    margin-left: -11px;
}

.talalas {
    font-weight: bold;
    margin-left: -20px;
    margin-top: 5px;
}

/* Csirkemell Elkészítés */

.elkeszites_move {
    margin-left: 900px;
    margin-top: -370px;
}

.elkeszites {
    background-color: #F9DCC3;
    width: 700px;
    height: 235px;
    border: 1px black solid;
}

.elkeszites_box {
    height: 40px;
    background-color: #F9E8DA;
    width: 200px;
    text-align: center;
    margin-left: 500px;
    margin-bottom: -10px;
    border: 1px black solid;
}

.elkeszites_text {
    font-size: 24px;
}

.elkeszites_bold  {
    font-weight: bold;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('https://images.unsplash.com/photo-1554284126-aa88f22d8b74');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 2.8rem;
    font-weight: bold;
}

.section {
    padding: 100px 20px;
    margin-top: -60px;
}

.card-custom {
    background: #e5d9cd;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    padding: 30px;
    transition: 0.3s;
    height: 100%;
    opacity: 1;
    transform: translateY(30px);
}

.card-custom:hover {
    transform: translateY(-10px);
}

.card-icon {
    font-size: 40px;
    color: #9d9f7b;
    margin-bottom: 15px;
}


/* Footer */
footer {
    text-align: center;
    padding: 2rem 1rem;
    color: #777;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    .hero-title {
        font-size: 2rem;
    }

    .hero-text {
        font-size: 1rem;
    }
}

.space{
    padding: 1rem 9rem;
}